<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysy tai Vastaa</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <div th:if="${#lists.isEmpty(kysymykset)}">
            <h1>Lisää ensin kysymys!</h1>
        </div>

        <div th:unless="Valitse Kurssi">

            <ul>
                <li th:each="kysymys: ${kysymykset}">
                    <span th:text="${kysymys.kurssi}">kurssi</span><a th:href="${'/aiheet/' + kysymys.id}">-></a>
                </li>
            </ul>

        </div>


    </body>
</html>