<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysy tai Vastaa</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${#lists.isEmpty(kysymykset)} ? 'Lisää ensin kysymys!' : 'Valitse kurssi'"> </h1>
        <div th:if="${!kysymykset.isEmpty()}">
            <ul>
                <li th:each="kysymys: ${kysymykset}">
                    <span th:text="${kysymys.kurssi}">kurssi</span><a th:href="${'/aiheet/' + kysymys.id}">-></a>
                    <input type='button' value='submit'>poista kysymys</input>
                </li>
            </ul>
        </div>
    </body>
</html>