<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysy tai Vastaa</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Valitse Kysymys</h1>

        <ul>
            <li th:each="kysymys: ${kysymykset}">
                <span th:text="${kysymys.kysymysteksti}">kysymys</span> <a th:href="${'/vastaukset/' + kysymys.id}">-></a>
                
                <form method="POST" action="'/kysymykset/' + kysymys.id">
                    <input type="button" value="poista"/><br/>
                </form>
            </li>
        </ul>
    </body>
</html>